<template>
  <div class="my-header">
    <span class="logo">
      <img src="../../assets/header-icon.png" class="custom-icon" />
      毛毛虫网络
    </span>
    <el-tooltip effect="dark" :content="$store.state.isUnfold ? '收起' : '展开'" placement="bottom">
      <el-icon class="icon-btn" @click="$store.commit('handleAsideWidth')">
        <fold v-if="$store.state.isUnfold" />
        <Expand v-else />
      </el-icon>
    </el-tooltip>
    <el-tooltip effect="dark" content="刷新" placement="bottom">
      <el-icon class="icon-btn" @click="handleRefresh">
        <refresh />
      </el-icon>
    </el-tooltip>
    <div class="ml-auto flex items-center">
      <el-tooltip effect="dark" content="全屏" placement="bottom" v-if="!isFullscreen">
        <el-icon class="icon-btn" @click="toggle">
          <full-screen />
        </el-icon>
      </el-tooltip>

      <el-tooltip effect="dark" content="取消全屏" placement="bottom" v-if="isFullscreen">
        <el-icon class="icon-btn" @click="toggle">
          <Crop />
        </el-icon>
      </el-tooltip>

      <el-dropdown class="dropdown" @command="handleCommand">
        <span>
          <img class="h-[30px] w-[30px] mr-2" src="@/assets/avatar.png"/>
          {{ $store.state.user?.['name'] }}
          <el-icon class="el-icon--right">
            <arrow-down />
          </el-icon>
        </span>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item command="rePassword">修改密码</el-dropdown-item>
            <el-dropdown-item command="logout">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>

  <form-drawer ref="formDrawerRef" title="修改密码" destroyOnClose @submit="onSubmit">
    <el-form ref="ruleFormRef" :rules="rules" :model="form" class="form" label-width="80px" size="small">
      <el-form-item prop="oldpassword" label="旧密码">
        <el-input class="ipt" v-model="form.oldpassword" type="password" show-password placeholder="请输入旧密码"
          maxlength="30">
        </el-input>
      </el-form-item>

      <el-form-item prop="password" label="新密码">
        <el-input class="ipt" v-model="form.password" type="password" show-password placeholder="请输入新密码" maxlength="30">
        </el-input>
      </el-form-item>

      <el-form-item prop="repassword" label="确认密码">
        <el-input class="ipt" v-model="form.repassword" type="password" show-password placeholder="请再次输入新密码"
          maxlength="30">
        </el-input>
      </el-form-item>
    </el-form>
  </form-drawer>
</template>

<script lang="ts" setup>
import FormDrawer from "@/components/FormDrawer.vue";
import UseManager from "@/composables/UseManager";
import { useFullscreen } from "@vueuse/core";
const { isFullscreen, toggle } = useFullscreen();
const handleLogout = UseManager.getInst().useLogout();
const {
  formDrawerRef,
  ruleFormRef,
  form,
  rules,
  onSubmit,
  openRePasswordForm
} = UseManager.getInst().useRepassword();

const handleCommand = function (pption: string) {
  switch (pption) {
    case "logout":
      handleLogout();
      break;
    case "rePassword":
      openRePasswordForm();
      break;
  }
};

//刷新
function handleRefresh() {
  location.reload();
}
</script>


<style>
.custom-icon {
  @apply mr-3;
  width: 24px;
  display: inline-block;
}

.my-header {
  @apply flex items-center bg-teal-500 text-light-50 fixed top-0 left-0 right-0;
  height: 64px;
}

.logo {
  width: 250px;
  @apply flex justify-center items-center text-xl font-thin;
}

.icon-btn {
  @apply flex justify-center items-center;
  width: 42px;
  height: 64px;
  cursor: pointer;
}

.icon-btn:hover {
  @apply bg-teal-400;
}

.my-header .dropdown {
  height: 64px;
  cursor: pointer;
  @apply flex justify-center items-center mx-5;
}

.dropdown>span {
  @apply flex items-center text-light-50;
  outline: none;
}
</style>