<template>
  <div class="my-menu" :style="{ width: asideWidth }">
    <el-menu :default-active="defaultActive.fullPath" unique-opened :collapse="!$store.state.isUnfold" class="content"
      active-text-color="#fb7185" text-color="#000" @select="handleSelect" :collapse-transition="false">
      <template v-for="(item, index) in asideMenus" :key="index">
        <el-sub-menu v-if="item.child && item.child.length > 0" :index="item.name">
          <template #title>
            <el-icon>
              <component :is="item.icon"></component>
            </el-icon>
            <span>{{ item.name }}</span>
          </template>
          <el-menu-item class="bg-indigo-200" v-for="(item2, index2) in item.child" :key="index2"
            :index="item2.frontpath">
            <el-icon>
              <component :is="item2.icon"></component>
            </el-icon>
            <span>{{ item2.name }}</span>
          </el-menu-item>
        </el-sub-menu>

        <el-menu-item v-else :index="item.frontpath">
          <el-icon>
            <component :is="item.icon"></component>
          </el-icon>
          <span>{{ item.name }}</span>
        </el-menu-item>
      </template>
    </el-menu>
  </div>
</template>
<script lang="ts" setup>
import { computed, reactive, ref, watch } from 'vue';
import { Router, useRouter, useRoute, RouteLocationNormalizedLoaded } from 'vue-router';
import { Store, useStore } from "vuex";

interface asideMenu {
  name: string,
  icon: string,
  frontpath: string,
  child?: Array<asideMenu>
}

const router: Router = useRouter();
const route: RouteLocationNormalizedLoaded = useRoute();
const store: Store<any> = useStore();

// 默认选中
const defaultActive = reactive(route);

// aside宽度
const asideWidth = computed((): string => {
  if (store.state.isUnfold)
    return "250px";
  return "64px";
})

const asideMenus: Array<asideMenu> = [
  {
    name: "首页",
    icon: "House",
    frontpath: "",
    child: [
      {
        name: "主控台",
        icon: "HomeFilled",
        frontpath: "/",
      }
    ]
  },
  {
    name: "系统管理",
    icon: "List",
    frontpath: "",
    child: [
      {
        name: "管理员",
        icon: "User",
        frontpath: "/users",
      },
      {
        name: "玩家管理",
        icon: "Headset",
        frontpath: "/players",
      },
      {
        name: "封禁管理",
        icon: "CircleCloseFilled",
        frontpath: "/banneds",
      }
    ]
  },
  {
    name: "外链",
    icon: "Menu",
    frontpath: "",
    child: [
      {
        name: "Bing 内嵌",
        icon: "Search",
        frontpath: "/bing",
      },
      {
        name: "智谱清言-清华大学开发",
        icon: "ChatLineRound",
        frontpath: "/ai",
      },
      {
        name: "SharedChat共享站点",
        icon: "Link",
        frontpath: "link:https://sharedchat.cn/shared.html",
      },
      {
        name: "CSDN 个人主页",
        icon: "Reading",
        frontpath: "/csdn",
      },
    ]
  },
  {
    name: "休息一下",
    icon: "IceDrink",
    frontpath: "",
    child: [
      {
        name: "2048",
        icon: "Orange",
        frontpath: "/2048",
      },
      {
        name: "贪食蛇",
        icon: "Orange",
        frontpath: "/snake",
      },
      {
        name: "打飞机",
        icon: "Orange",
        frontpath: "/BeatPlane",
      },
    ]
  },
  {
    name: "关于",
    icon: "InfoFilled",
    frontpath: "/about",
  },
]

const handleSelect = (path: string) => {
  if (!(path && path != ""))
    return;
  if (path.startsWith('link:')) {
    const url: string = path.replace('link:', '');
    window.open(url, '_blank');
    location.reload();
    return;
  } else {
    router.push(path);
  }
}

</script>
<style>
.my-menu {
  transition: all 0.2s;
  top: 64px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  @apply shadow-md flex fixed shadow-lime-700 m-0;
}

.my-menu>.content {
  background-color: #6f8c91;
  width: 100%;
  @apply border-t-0 border-r-2;
}

.my-menu::-webkit-scrollbar {
  width: 0px;
}
</style>