<template>
    <div class="my-tag-list" :style="{ left: asideWidth }">
        <el-tabs v-model="activeTab" type="card" class="flex-1" @tab-remove="removeTab" @tab-change="changeTab"
            style="min-width: 100px;">
            <el-tab-pane :closable="item.path != '/'" v-for="item in tabList" :key="item.path" :label="item.title"
                :name="item.path">
            </el-tab-pane>
        </el-tabs>

        <span class="tag-btn">
            <el-dropdown @command="handleClose">
                <span class="el-dropdown-link">
                    <el-icon>
                        <arrow-down />
                    </el-icon>
                </span>
                <template #dropdown>
                    <el-dropdown-menu>
                        <el-dropdown-item command="clearOther">关闭其他</el-dropdown-item>
                        <el-dropdown-item command="clearAll">关闭全部</el-dropdown-item>
                    </el-dropdown-menu>
                </template>
            </el-dropdown>
        </span>
    </div>
    <div style="height: 44px"></div>
</template>

<script lang="ts" setup>
import { computed } from "vue";
import { Store, useStore } from "vuex";
import UseTabList from '@/composables/UseTabList';

const store: Store<any> = useStore();
const {
    tabList,
    handleClose,
    changeTab,
    removeTab,
    activeTab
} = UseTabList.getInst().setup();

/**
 * left宽度
 */
const asideWidth = computed((): string => {
    if (store.state.isUnfold)
        return "250px";
    return "64px";
})

</script>
<style scoped>
.my-tag-list {
    @apply fixed bg-gray-200 flex items-center justify-center px-2 ml-1;
    top: 64px;
    right: 0;
    height: 44px;
}

.tag-btn {
    @apply bg-light-50 rounded ml-auto flex items-center justify-center px-2;
    height: 32px;
}

:deep(.el-tabs__header) {
    @apply mb-0;
    border: 0 !important;
}

:deep(.el-tabs__nav) {
    border: 0 !important;
}

:deep(.el-tabs__item) {
    @apply bg-light-400 m-1 rounded;
    border: 0 !important;
    height: 32px;
    line-height: 32px;
}

:deep(.el-tabs__nav-next)>.el-icon,
:deep(.el-tabs__nav-prev)>.el-icon {
    color: rgb(138, 101, 23);
}

:deep(.is-disabled)>.el-icon {
    color: rgb(185, 181, 174);
    cursor: not-allowed;
}

.el-dropdown-link:focus {
    outline: none;
}
</style>