<template>
  <div class="card content-box">
    <span class="text">
      SharedChat共享站点：
      <a href="https://sharedchat.cn/shared.html" target="_blank">https://sharedchat.cn/shared.html</a>
    </span>
  </div>
</template>

<script setup lang="ts" name="gitlab"></script>