<template>
  <div class="full-iframe" :style="{ height: cardHeight, width: cardWidth, left: left }">
    <iframe src="http://192.168.2.75:3001/" frameborder="0" style="width: 100%; height: 100%;"></iframe>
  </div>
</template>

<script lang="ts" setup>
import { onBeforeUnmount, onMounted, Ref, ref, watch } from 'vue'
import { Store, useStore } from 'vuex';

/**
 * card高度
 */
const cardWidth: Ref<string> = ref('');
const cardHeight: Ref<string> = ref('');
const left: Ref<string> = ref('');
const store: Store<any> = useStore();

function countHeight() {
  const asideWidth: number = store.state.isUnfold ? 250 : 60;
  const width: number = document.body.clientWidth - asideWidth;
  const height: number = document.body.clientHeight - 109;
  left.value = `${asideWidth}px`;
  cardWidth.value = `${width}px`;
  cardHeight.value = `${height}px`;
}

watch(
  () => store.state.isUnfold,
  () => {
    countHeight()
  }
);

onMounted(() => {
  //监听窗口变化
  window.addEventListener("resize", countHeight);
  countHeight()
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", countHeight);
})
</script>

<style scope>
.full-iframe {
  @apply items-center justify-center overflow-hidden absolute;
  top: 108px !important;
  bottom: auto !important;
  height: 0vh;
}
</style>