<template>
  <el-result icon="warning" title="404提示" sub-title="很抱歉，页面已被取消分享~">
    <template #extra>
      <el-button type="primary" @click="$router.push('/')">返回主页</el-button>
    </template>
  </el-result>
</template>

<style></style>