<template>
	<div class="qrcode-container layout-pd">
		<el-card shadow="hover" header="项目仓库地址">
			<div class="qrcode-img-warp">
				<div class="mb30 mt30 qrcode-img">
					<div class="qrcode" ref="qrcodeRef"></div>
				</div>
				<el-button class="mt-20" type="primary" size="default" @click="onInitQrcode">
					<el-icon class="mr-2">
						<Loading v-if="loading" />
						<Refresh v-else />
					</el-icon>
					重新生成
				</el-button>
			</div>
		</el-card>
	</div>
</template>

<script setup lang="ts" name="funQrcode">
import { onMounted, Ref, ref } from 'vue';
import QRCode from 'qrcodejs2-fixes';
// 定义变量内容
const qrcodeRef = ref();

// 初始化生成二维码
const initQrcode = () => {
	const qRCode: QRCode = new QRCode(qrcodeRef.value, {
		text: `https://gitlab.com/caterpillar3`,
		width: 125,
		height: 125,
		colorDark: '#000000',
		colorLight: '#ffffff',
	});
	
	const timer: NodeJS.Timeout = setInterval(() => {
		if (qRCode != null) {
			loading.value = false;
			clearInterval(timer);
		}
	}, 500);
};
const loading: Ref<boolean> = ref(false);
// 重新生成
const onInitQrcode = () => {
	loading.value = true;
	qrcodeRef.value.innerHTML = '';
	initQrcode();
};
// 页面加载时
onMounted(() => {
	initQrcode();
});
</script>

<style scoped lang="scss">
.qrcode-container {
	top: 44px;

	.qrcode-img-warp {
		text-align: center;

		.qrcode-img {
			display: flex;
			width: 100%;
			height: 125px;

			.qrcode {
				margin: auto;
				width: 125px;
				height: 125px;
			}
		}
	}
}

.card {
	.title {
		margin: 0 0 15px;
		font-size: 17px;
		font-weight: bold;
		color: var(--el-text-color-primary);
	}

	.text {
		font-size: 15px;
		line-height: 25px;
		color: var(--el-text-color-regular);

		.el-link {
			font-size: 15px;
		}
	}
}
</style>
