<template>
  <div class="page">
    <div class="top" :style="{ display: cardHeight[2] }">
      <div class="gva-card gva-top-card" :style="{ height: cardHeight[0] }">
        <div class="gva-top-card-left">
          <div class="greet" id="text">{{ greet }}</div>
          <div class="date">{{ showDate }}</div>
          <el-row class="w-[200px]">
            <el-col :span="8" :xs="24" :sm="8">
            </el-col>
          </el-row>
        </div>
        <img src="@/assets/logo.png" class="gva-top-card-right" alt="logo" title="" :style="{ display: cardHeight[1] }" />
      </div>
    </div>
    <div>
      <div class="gva-card quick-entrance">
        <div class="gva-card-title">快捷导航</div>
        <el-row :gutter="20">
          <el-col v-for="(card, key) in toolCards" :key="key" :span="4" :xs="8" class="quick-entrance-items"
            @click="toTarget(card.path)">
            <div class="quick-entrance-item">
              <div class="quick-entrance-item-icon" :style="{ backgroundColor: card.bg }">
                <el-icon>
                  <component :is="card.icon" :style="{ color: card.color }" />
                </el-icon>
              </div>
              <p>{{ card.label }}</p>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { DateInfo } from '@/composables/Util';
import Util from '@/composables/Util';
import { onBeforeUnmount, onMounted, Ref, ref, reactive, UnwrapNestedRefs } from 'vue'
import { Router, useRouter } from 'vue-router'
import { Store, useStore } from 'vuex';

defineOptions({
  name: 'Dashboard'
})


// 定义一个 ref 用于存储 greet 的值
const greet: Ref<string> = ref('');
const showDate: Ref<string> = ref('');
/**
 * card高度
 */
const cardHeight: UnwrapNestedRefs<{
  '0': string,
  '1': string,
  '2': string,
  '3': string
}> = reactive({
  '0': '',
  '1': '',
  '2': '',
  '3': ''
});
let greetInterval: NodeJS.Timeout | null = null;

// 定义一个函数来计算 greet 的值
const calculateGreet = (): void => {
  const date: DateInfo = Util.getInst().convertDateToInfo(new Date());
  let greetInfo: string = ` ${date.hour} 时 ${date.minutes} 分 ${date.seconds} 秒`;
  if (date.hour > 20) {
    greetInfo = `晚上好，现在是${greetInfo}，该休息了`;
  } else if (date.hour > 18) {
    greetInfo = `现在是傍晚${greetInfo}，工作一天辛苦了`;
  } else if (date.hour > 14) {
    greetInfo = `现在是下午${greetInfo}，喝杯咖啡提提神吧`;
  } else if (date.hour > 12) {
    greetInfo = `中午好，现在是${greetInfo}，午饭时间到了`;
  } else if (date.hour > 6) {
    greetInfo = `早上好，现在是${greetInfo}，新的一天开始了`;
  } else {
    greetInfo = `现在是凌晨${greetInfo}，再不睡觉天就要亮了`;
  }

  // 更新 greet 的值
  greet.value = greetInfo;
  showDate.value = ` ${date.year} 年 ${date.month} 月 ${date.day} 日`;
};

const toolCards = ref([
  {
    label: 'Bing 搜索',
    icon: 'Search',
    path: '/bing',
    color: '#964300',
    bg: 'rgba(255, 156, 110,.3)'
  },
  {
    label: 'CSDN个人主页',
    icon: 'Reading',
    path: '/csdn',
    color: '#CA9312',
    bg: 'rgba(235,164,107,.3)'
  },
  {
    label: '智谱清言',
    icon: "ChatLineRound",
    path: "/ai",
    color: '#69c0ff',
    bg: 'rgba(105, 192, 255,.3)'
  },
  {
    label: '管理员',
    icon: 'User',
    path: "/users",
    color: '#000000',
    bg: 'rgba(91,87,87,.3)'
  },
  {
    label: '玩家管理',
    icon: 'Headset',
    path: "/players",
    color: '#D4A8FF',
    bg: 'rgba(237,168,255,.3)'
  },
  {
    label: '封禁管理',
    icon: 'CircleCloseFilled',
    path: "/banneds",
    color: '#FD0000',
    bg: 'rgba(252,68,68,.3)'
  },
  {
    label: '2048',
    icon: 'Orange',
    path: "/2048",
    color: '#D95539',
    bg: 'rgba(240,118,118,.3)'
  },
  {
    label: '贪食蛇',
    icon: 'Orange',
    path: "/snake",
    color: '#00D919',
    bg: 'rgba(117,218,58,.3)'
  },
  {
    label: '打飞机',
    icon: 'Orange',
    path: "/beatPlane",
    color: '#363434',
    bg: 'rgba(202,195,195,.3)'
  },
  {
    label: 'SharedChat',
    icon: 'Link',
    path: "link:https://sharedchat.cn/shared.html",
    color: '#0005FF',
    bg: 'rgba(36,112,253,.3)'
  },
  {
    label: '关于',
    icon: 'InfoFilled',
    path: '/about',
    color: '#5cdbd3',
    bg: 'rgba(92, 219, 211,.3)'
  }
])

const router: Router = useRouter()
const store: Store<any> = useStore();

const toTarget = (path: string) => {
  if (path.startsWith('link:')) {
    const url: string = path.replace('link:', '');
    window.open(url, '_blank')
    return;
  }
  if (path && path != "")
    router.push(path);
}

function countHeight() {
  const height: number = document.body.scrollHeight - 138 - 10;
  const asideWidth: number = store.state.isUnfold ? 250 : 60;
  const width: number = document.body.clientWidth - asideWidth;

  if (height <= 250) {
    cardHeight[0] = `${0}px`;
    cardHeight[1] = "none";
    cardHeight[2] = "none";
  } else if (height <= 450 || width <= 700) {
    cardHeight[0] = `${0}px`;
    cardHeight[1] = "none";
    cardHeight[2] = "none";
  } else if (height <= 550 || width <= 1030) {
    cardHeight[0] = `${height * 0.5}px`;
    cardHeight[1] = "none";
    cardHeight[2] = "block";
  } else {
    cardHeight[0] = `${height * 0.5}px`;
    cardHeight[1] = "block";
    cardHeight[2] = "block";
  }
}

const refreshHeight: EventListenerOrEventListenerObject = (ev: Event) => {
  countHeight();
}

onMounted(() => {
  // 计算初始值
  calculateGreet();
  // 每秒钟重新计算 greet 的值
  greetInterval = setInterval(calculateGreet, 1000);

  //监听窗口变化
  window.addEventListener("resize", refreshHeight);
  countHeight()
});

onBeforeUnmount(() => {
  if (greetInterval != null)
    clearInterval(greetInterval);
  greetInterval = null;
  window.removeEventListener("resize", refreshHeight);
})
</script>

<style lang="scss" scoped>
.page {
  top: 44px;
  height: 0vh;

  .top {
    @apply mb-20;
    position: relative;
    top: 0;
  }

  .gva-card {
    @apply box-border bg-yellow-50 rounded-3xl shadow-sm shadow-green-600;

    .gva-card-title {
      @apply p-8 border-t-0 border-l-0 border-r-0 border-b border-solid border-gray-100;
    }
  }

  .gva-top-card {
    @apply h-auto flex justify-center items-center mx-8;

    &-right {
      @apply pt-20;
    }

    &-left {
      @apply pl-8;

      .greet {
        @apply text-stroke-1.5px text-shadow text-shadow-lg text-size-30px text-stroke-purple-600;
        letter-spacing: 0.2em;
        line-height: normal;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }

      .date {
        @apply text-stroke-sm text-size-24px text-center text-yellow-300 mt-30;
        letter-spacing: 0.2em;
      }
    }
  }

  .quick-entrance {
    @apply mx-0;
  }

  ::v-deep(.el-card__header) {
    @apply p-0 border-gray-200;
  }

  .card-header {
    @apply pb-5 border-b border-solid border-gray-200 border-t-0 border-l-0 border-r-0;
  }

  .quick-entrance-items {
    @apply flex items-center justify-center text-center text-gray-800;

    .quick-entrance-item {
      @apply px-8 py-6 mb-10 flex items-center flex-col transition-all duration-100 ease-in-out rounded-lg cursor-pointer;

      &:hover {
        @apply shadow-lg;
      }

      &-icon {
        @apply flex items-center h-16 w-16 rounded-lg justify-center mx-0 my-auto text-2xl;
      }

      p {
        @apply mt-5;
      }
    }
  }
}

.dashboard-icon {
  @apply flex items-center text-xl mr-2 text-blue-400;
}
</style>
