<template>
  <div>
    <el-row class="loginBg">
      <el-col :lg="16" :md="12"> </el-col>
      <el-col :lg="7" class="right">
        <h2 class="title">欢迎回来</h2>
        <div>
          <span class="line"></span>
          <span class="sp">账号密码登录</span>
          <span class="line"></span>
        </div>
        <el-form ref="ruleFormRef" :rules="rules" :model="form" class="form" :size="formSize">
          <el-form-item prop="username">
            <el-input class="ipt" v-model="form.username" placeholder="请输入用户名" maxlength="30">
              <template #prefix>
                <el-icon class="el-input__icon">
                  <user />
                </el-icon>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input class="ipt" v-model="form.password" type="password" show-password placeholder="请输入密码"
              maxlength="30">
              <template #prefix>
                <el-icon class="el-input__icon">
                  <lock />
                </el-icon>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item class="mt-6">
            <el-button round color="#314DA1" class="loginBtn" type="primary" @click="onSubmit()" :loading="loading">
              登录
            </el-button>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :lg="1"> </el-col>
    </el-row>
  </div>
</template>


<script lang="ts" setup>
import { reactive, ref, onMounted, onBeforeUnmount } from "vue";
import type { FormInstance, FormRules } from "element-plus";
import { useRouter } from "vue-router";
import util from "@/composables/Util";
import auth from "@/composables/Auth";
import { useStore } from "vuex";
import ManagerApi from "@/api/ManagerApi";

interface RuleForm {
  username: string;
  password: string;
}

const store = useStore();
const router = useRouter();

const formSize = ref("default");
const loading = ref(false);
const ruleFormRef = ref<FormInstance>();
// do not use same name with ref
const form = reactive<RuleForm>({
  username: "",
  password: "",
});

const rules = reactive<FormRules<RuleForm>>({
  username: [
    {
      required: true,
      message: "用户名不能为空",
      trigger: "blur",
    },
    {
      min: 5,
      max: 20,
      message: "用户名长度在5-20个字符",
      trigger: "blur",
    },
  ],
  password: [
    {
      required: true,
      message: "密码不能为空",
      trigger: "blur",
    },
    {
      min: 5,
      max: 20,
      message: "密码长度在5-20个字符",
      trigger: "blur",
    },
  ],
});

const onSubmit = async () => {
  await ruleFormRef.value?.validate(async (valid, fields) => {
    if (!valid) {
      return false;
    }
    loading.value = true;

    ManagerApi.getInst()
      .login(form)
      .then((res) => {
        if (res.status.code == 200) {
          util.getInst().toast("登录成功");
          auth.getInst().setToken(res.data);
          router.push("/");
        } else {
          util.getInst().toast(res.status.msg, 'error');
        }
      }).finally(() => {
        loading.value = false;
      });
  });
};


function onKeyUp(event: KeyboardEvent) {
  if ("Enter" == event.key && "Enter" == event.code) {
    onSubmit();
  }
}

onMounted(() => {
  document.addEventListener("keyup", onKeyUp);
});

onBeforeUnmount(() => {
  document.removeEventListener("keyup", onKeyUp);
})
</script>

<style scoped>
.loginBg {
  @apply min-h-screen;
  background: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right {
  @apply rounded-xl bg-lime-100 flex items-center justify-center flex-col my-24;
  background: url("../assets/loginPanel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right .title {
  @apply font-bold text-5xl text-gray-800;
}

.right>div {
  @apply flex items-center justify-center mt-8 mb-10 text-gray-400 space-x-2;
}

.right .line {
  @apply h-[1px] w-16 bg-gray-200;
}

.sp {
  @apply text-18px;
}

.right .form {
  @apply w-300px flex items-center flex-col;
}

.ipt {
  @apply w-300px h-45px mt-3 mb-2;
  font-size: 16px;
}

.loginBtn {
  @apply w-100px h-45px text-20px;
}
</style>