<template>
  <router-view></router-view>
</template>

<script lang="ts" setup>
</script>
<style>
#nprogress .bar {
  background-color: rgb(138, 255, 83)!important;
  height: 3px!important;;
}
#nprogress .spinner-icon{
  background-color: rgb(180, 250, 238)!important;
  border-top-color: rgb(185, 255, 171)!important;
  border-right-color: rgb(137, 255, 114)!important;
  border-bottom-color: rgb(90, 255, 57)!important;
  border-left-color: rgb(43, 255, 0)!important;
}
</style>
