<template>
  <el-container class="main-bg">
    <el-header class="index">
      <my-header />
    </el-header>
    <el-container>
      <el-aside :width="asideWidth" class="my-aside index">
        <my-menu />
      </el-aside>
      <el-main class="my-main">
        <router-view v-slot="{ Component }" class="b-index">
          <transition name="fade">
            <keep-alive :max="5">
              <component :is="Component"></component>
            </keep-alive>
          </transition>
        </router-view>
      </el-main>
      <my-tag-list class="index" />
    </el-container>
  </el-container>

  <el-dialog class="rounded-lg" :show-close="false" :close-on-press-escape="false" :close-on-click-modal="false"
    align-center v-model="dialogTableVisible" title="设置个人信息" width="500px">

    <el-form ref="ruleFormRef" :rules="rules" :model="form" class="form" label-width="80px" size="small">
      <el-form-item prop="name" label="名称">
        <el-input class="ipt" v-model="form.name" type="info" placeholder="请输入你的名称" maxlength="30">
        </el-input>
      </el-form-item>
    </el-form>
    <el-form ref="ruleFormRef" :rules="rules" :model="form" class="form" label-width="80px" size="small">
      <el-form-item prop="password" label="密码">
        <el-input class="ipt" v-model="form.password" type="password" show-password placeholder="请设置你的密码" maxlength="30">
        </el-input>
      </el-form-item>
    </el-form>
    <el-form ref="ruleFormRef" :rules="rules" :model="form" class="form" label-width="80px" size="small">
      <el-form-item prop="tel" label="手机号">
        <el-input class="ipt" v-model="form.tel" type="info" placeholder="请填写你的手机号" maxlength="30">
        </el-input>
      </el-form-item>
    </el-form>
    <div class="actions">
      <el-button type="primary" @click="onSubmit" :loading="loading">提交</el-button>
    </div>
  </el-dialog>
</template>

<script lang="ts" setup>
import MyHeader from "./components/MyHeader.vue";
import MyMenu from "./components/MyMenu.vue";
import MyTagList from "./components/MyTagList.vue";
import { computed, onMounted, reactive, ref, Ref } from 'vue';
import { Store, useStore } from "vuex";
import { FormInstance, FormRules } from "element-plus";
import ManagerApi from "@/api/ManagerApi";
import Util from "@/composables/Util";
import router from "@/router";

interface RuleForm {
  name: string;
  password: string;
  tel: string;
}

const dialogTableVisible: Ref<boolean> = ref(false)
const loading = ref(false);
const ruleFormRef = ref<FormInstance | null>(null);
const store: Store<any> = useStore();
// aside宽度
const asideWidth = computed((): string => {
  if (store.state.isUnfold)
    return "250px";
  return "64px";
})

const form = reactive<RuleForm>({
  name: "",
  password: "",
  tel: "",
});

const rules = reactive<FormRules<RuleForm>>({
  name: [
    {
      required: true,
      message: "名称不能为空",
      trigger: "blur"
    },
    {
      min: 1,
      max: 20,
      message: "密码长度在1-20个字符",
      trigger: "blur"
    },
  ],
  password: [
    {
      required: true,
      message: "密码不能为空",
      trigger: "blur"
    },
    {
      min: 5,
      max: 20,
      message: "密码长度在5-20个字符",
      trigger: "blur"
    },
  ],
  tel: [
    {
      required: true,
      message: "请输入手机号码",
      trigger: "blur"
    },
    {
      validator: function (rule, value, callback) {
        if (/^1[34578]\d{9}$/.test(value) == false) {
          callback(new Error("手机号格式错误"));
        } else {
          callback();
        }
      },
      trigger: "blur"
    }
  ],
});

const onSubmit = async () => {
  await ruleFormRef.value?.validate(async (valid, fields) => {
    if (!valid) {
      return false;
    }
    loading.value = true;
    ManagerApi
      .getInst()
      .initAdmin(form)
      .then((res) => {
        if (!res) return;
        if (res.status.code == 200) {
          Util.getInst().toast('信息设置成功');
          store.state.user = res.data;
          dialogTableVisible.value = false;
        } else if (res.status.code == 40102) {
          Util.getInst().toast(res.status.msg, 'error');
          store.dispatch("logout");
          location.reload();
        } else {
          Util.getInst().toast(res.status.msg, 'error');
        }
      })
      .finally(() => {
        loading.value = false;
      });
  });
}

onMounted(() => {
  dialogTableVisible.value = store.state.user['name'] == null || store.state.user['name'] == '';
})
</script>

<style>
.my-aside {
  transition: all 0.2s;
}

.my-main {
  bottom: 0;
}

.my-main>router-view {
  position: absolute;
  z-index: 0;
  overflow-y: hidden;
}

.index {
  position: relative;
  z-index: 1;
}

.b-index {
  position: relative;
  z-index: 0;
}

.fade-enter-from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, -100%, 0);
  transform: translate3d(-100%, -100%, 0);
}

.fade-enter-to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fade-leave-from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fade-leave-to {
  opacity: 0;
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0);
}

.fade-enter-active {
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.fade-leave-active {
  transition: all 0.5s;
}

.main-bg {
  @apply min-h-screen;
  background: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-y: hidden;
}

.actions {
  @apply flex justify-center;
}
</style>