<template>
  <div class="full-iframe" :style="{ height: cardHeight, width: cardWidth, left: left }">
    <div class="iframe-container">
      <el-button type="info" class="center-button" round @click="refreshGame">重试</el-button>
      <iframe :src="iframe_url" class="iframe-box" frameborder="0"></iframe>
    </div>
  </div>
  import { valueEquals } from 'element-plus';
</template>

<script lang="ts" setup>
import { onBeforeUnmount, onMounted, Ref, ref, watch } from 'vue'
import { Store, useStore } from 'vuex';

/**
 * card高度
 */
const cardWidth: Ref<string> = ref('');
const cardHeight: Ref<string> = ref('');
const left: Ref<string> = ref('');
const store: Store<any> = useStore();
const iframe_url: Ref<string> = ref('http://192.168.2.75:3002/');

const refreshGame: Function = () => {
  iframe_url.value = '';
  setTimeout(()=>{
    iframe_url.value = 'http://192.168.2.75:3002/';
  },10);
  
}

function countHeight() {
  const asideWidth: number = store.state.isUnfold ? 250 : 60;
  const width: number = document.body.clientWidth - asideWidth;
  const height: number = document.body.clientHeight - 109;
  left.value = `${asideWidth}px`;
  cardWidth.value = `${width}px`;
  cardHeight.value = `${height}px`;
}

watch(
  () => store.state.isUnfold,
  () => {
    countHeight()
  }
);

onMounted(() => {
  //监听窗口变化
  window.addEventListener("resize", countHeight);
  countHeight()
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", countHeight);
})
</script>

<style scope>
.full-iframe {
  @apply items-center justify-center overflow-hidden absolute;
  top: 108px !important;
  bottom: 0;
  height: 100vh;
}

.iframe-container {
  @apply flex justify-center my-auto;
  width: 100%;
  height: 100%;
  align-items: center;
}

.iframe-box {
  @apply h-100vh w-100vh pt-[80px];
}

.center-button {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}
</style>