<template>
	<div class="box" :style="{ height: cardHeight }">
		<el-card shadow="hover">
			<div class="mb15">
				<el-input v-model="inputValue" placeholder="请输入角色名称" class="max-w-[180px]" maxlength="10"
					@change="handleParam"> </el-input>
				<el-button type="primary" class="ml-10" @click="handleConditions">
					<el-icon class="mr-2">
						<Search />
					</el-icon>
					查询
				</el-button>
			</div>
			<el-table :data="tableDatas" :v-loading="isloading" class="indexDown" row-key="id">
				<el-table-column label="角色id" prop="id" show-overflow-tooltip></el-table-column>
				<el-table-column prop="name" label="角色名称" show-overflow-tooltip> </el-table-column>
				<el-table-column prop="status" label="账号状态" show-overflow-tooltip>
					<template #default="scope">
						<el-switch v-model="scope.row.status" class="ml-2"
							style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
							:loading="scope.row.isChangeStatus" @change="handleStatus(scope.row)" />
						&nbsp; {{ scope.row.status ? "激活" : "封禁" }}
					</template>
				</el-table-column>
				<el-table-column prop="duration" label="游戏时长" show-overflow-tooltip></el-table-column>
				<el-table-column prop="createTime" label="创建时间" show-overflow-tooltip></el-table-column>
				<el-table-column prop="lastOnline" label="最后登录" show-overflow-tooltip></el-table-column>
			</el-table>
			<el-pagination background class="mt-5 justify-center" layout="prev, pager, next" @change="getTableData"
				:total="pageNumber" :v-model="currentPage" :page-size="pageSize" />
		</el-card>
	</div>
</template>

<script setup lang="ts">
import ManagerApi from '@/api/ManagerApi';
import Util, { DateInfo } from '@/composables/Util';
import { ref, reactive, onMounted, Ref, onBeforeUnmount } from 'vue';

interface TableInfo {
	id: number,
	name: string,
	status: string,
	duration: string,
	createTime: string,
	lastOnline: string
}

interface TableData {
	id: number,
	name: string,
	status: boolean,
	duration: string,
	createTime: string,
	lastOnline: string,
	isChangeStatus: boolean
}

interface PlayerStatus {
	id: number,
	status: String
}

const tableDatas: Array<TableData> = reactive([]);
const currentPage: Ref<number> = ref(1);

const isloading: Ref<boolean> = ref(false);
const pageSize: Ref<number> = ref(10);
const pageNumber: Ref<number> = ref(0);
const inputValue: Ref<string> = ref('');
const cardHeight: Ref<string> = ref('');
let param: string = '';

const handleStatus = (row: TableData) => {
	if (row.isChangeStatus) return;
	row.isChangeStatus = true;
	console.log(row);

	const playerStatus: PlayerStatus = { id: row.id, status: row.status ? "normal" : "banned" };
	ManagerApi.getInst()
		.setPlayerStatus(playerStatus)
		.then(res => {
			console.log(res);
			if (res.status.code == 200) {
				Util.getInst().toast("修改成功");
			} else {
				row.status = !row.status;
				Util.getInst().toast(res.status.msg, "error");
			}
		})
		.catch(res => {
			row.status = !row.status;
			Util.getInst().toast("修改失败");
		})
		.finally(() => row.isChangeStatus = false);
}

const getDuration: Function = (duration: String | Number): String => {
	const hours: string = (Number(duration) / 1000.0 / 60 / 60).toFixed(2);
	return hours + "小时";
}
const getTime: Function = (duration: String | Number): String => {
	const date: DateInfo = Util.getInst().convertDateToInfo(new Date(Number(duration)));
	return `${date.year}年${date.month < 10 ? '0' + date.month : date.month}月${date.day < 10 ? '0' + date.day : date.day}日 ${date.hour < 10 ? '0' + date.hour : date.hour}:${date.minutes < 10 ? '0' + date.minutes : date.minutes}`;
}
const handleConditions: Function = () => {
	if (inputValue.value) {
		param = inputValue.value;
		getTableData(1);
	}
}

const handleParam: Function = () => {
	if (param) {
		param = '';
		getTableData(1);
	}
};

// 刷新表格数据
const getTableData = (newPage: number) => {
	isloading.value = true;
	if (newPage)
		currentPage.value = newPage;
	ManagerApi.getInst().getBannerInfoList(currentPage.value, pageSize.value, param).then(res => {
		pageNumber.value = res.data.total;
		tableDatas.slice(0, tableDatas.length);
		tableDatas.length = 0;
		res.data.list.forEach((data: TableInfo) => {
			const item: TableData = {
				id: data.id,
				name: data.name,
				status: data.status == "normal",
				duration: getDuration(data.duration),
				createTime: getTime(data.createTime),
				lastOnline: getTime(data.lastOnline),
				isChangeStatus: false
			}
			tableDatas.push(item);
		});
		isloading.value = false;
	});
};

function countHeight() {
	const height: number = document.documentElement.clientHeight - 109;
	cardHeight.value = `${height}px`;
}

onMounted(() => {
	getTableData(0);
	//监听窗口变化
	window.addEventListener("resize", countHeight);
	countHeight()
});

onBeforeUnmount(() => {
	window.removeEventListener("resize", countHeight);
})
</script>

<style scoped>
.box {
	position: relative;
	top: 40px !important;
	overflow: hidden;
}
</style>
