<template>
	<div class="box" :style="{ height: cardHeight }">
		<el-card shadow="hover">
			<div>
				<el-input v-model="inputValue" placeholder="请输入用户名" @change="handleParam" style="max-width: 180px"
					maxlength="10"> </el-input>
				<el-button type="primary" class="ml-10" @click="handleConditions">
					<el-icon class="mr-2">
						<Search />
					</el-icon>
					查询
				</el-button>
			</div>
			<el-table :data="tableDatas" :v-loading="isloading" class="indexDown" row-key="id">
				<el-table-column prop="uid" label="用户id" show-overflow-tooltip></el-table-column>
				<el-table-column prop="username" label="用户名" show-overflow-tooltip> </el-table-column>
				<el-table-column prop="sex" label="性别" show-overflow-tooltip></el-table-column>
				<el-table-column prop="tel" label="手机号" show-overflow-tooltip></el-table-column>
				<el-table-column prop="birthday" label="生日" show-overflow-tooltip></el-table-column>
				<el-table-column prop="email" label="邮箱" show-overflow-tooltip></el-table-column>
				<el-table-column fixed="right" label="操作">
					<template #default="scope">
						<el-popconfirm @confirm="handleReset(scope.row)" title="将密码重置为123456，是否继续?">
							<template #reference>
								<el-button link type="primary" size="small">重置密码</el-button>
							</template>
						</el-popconfirm>
						<el-button link type="primary" size="small" @click="handleView(scope.row.uid)">检视</el-button>
					</template>
				</el-table-column>
			</el-table>
			<el-pagination background class="mt-5 justify-center" layout="prev, pager, next" :total="pageNumber"
				@change="getTableData" v-model="currentPage" :page-size="pageSize" />
		</el-card>
	</div>

	<el-dialog class="rounded-lg" align-center v-model="dialogTableVisible" title="角色信息" width="500px">
		<div class="card mb10 mt-[20px]">
			<el-descriptions :column="1" border>
				<el-descriptions-item label="用户id" label-align="left">
					<el-text>{{ dialogData.uid }}</el-text>
				</el-descriptions-item>
				<el-descriptions-item label="角色id" label-align="left">
					<el-text>{{ dialogData.pid }}</el-text>
				</el-descriptions-item>
				<el-descriptions-item label="角色名称" label-align="left">
					<el-text>{{ dialogData.displayName }}</el-text>
				</el-descriptions-item>
				<el-descriptions-item label="角色等级" label-align="left">
					<el-text> {{ dialogData.gameLevel }} </el-text>
				</el-descriptions-item>
				<el-descriptions-item label="角色经验" label-align="left">
					<el-text> {{ dialogData.experience }} </el-text>
				</el-descriptions-item>
				<el-descriptions-item label="帐号状态" label-align="left">
					<el-tag v-if="dialogData.status=='normal'" type="success"> 激活 </el-tag>
					<el-tag v-else type="error"> 封禁 </el-tag>
				</el-descriptions-item>
			</el-descriptions>
		</div>

		<div style="text-align: center;">
			<el-button class="mt-[20px]" type="danger" @click="handleClose">
				<el-icon>
					<CloseBold />
				</el-icon>
			</el-button>
		</div>
	</el-dialog>
</template>

<script setup lang="ts">
import ManagerApi from '@/api/ManagerApi';
import Util from '@/composables/Util';
import { ref, reactive, onMounted, Ref, onBeforeUnmount } from 'vue';

interface TableInfo {
	uid: string,
	username: string,
	sex: string,
	tel: string,
	birthday: Date,
	email: string
}

interface TableData {
	uid: string,
	username: string,
	sex: string,
	tel: string,
	birthday: Date,
	email: string,
	isChangeStatus: boolean
}

interface dialogTable {
	uid: string,
	pid: number,
	displayName: string,
	gameLevel: number,
	experience: string,
	status: string
}

const tableDatas: Array<TableData> = reactive([]);
const currentPage: Ref<number> = ref(1);
const dialogTableVisible: Ref<boolean> = ref(false)

const isloading: Ref<boolean> = ref(false);
const pageNumber: Ref<number> = ref(0);
const inputValue: Ref<string> = ref('');
const cardHeight: Ref<string> = ref('');
const pageSize: Ref<number> = ref(10);
const dialogData: dialogTable = reactive({
	uid: '',
	pid: 0,
	displayName: '',
	gameLevel: 0,
	experience: '',
	status: 'normal'
});
let param: string = '';


const handleConditions: Function = () => {
	if (inputValue.value) {
		param = inputValue.value;
		getTableData(1);
	}
}

const handleParam: Function = () => {
	if (param) {
		param = '';
		getTableData(1);
	}
};

// 刷新表格数据
const getTableData = (newPage: number) => {
	isloading.value = true;
	if (newPage)
		currentPage.value = newPage;
	ManagerApi.getInst().getUserInfoList(currentPage.value, pageSize.value, param).then(res => {
		console.log(res);

		pageNumber.value = res.data.total;
		tableDatas.slice(0, tableDatas.length);
		tableDatas.length = 0;
		res.data.list.forEach((data: TableInfo) => {
			const item: TableData = {
				uid: data.uid,
				username: data.username,
				sex: data.sex,
				tel: data.tel,
				birthday: data.birthday,
				email: data.email,
				isChangeStatus: false
			}
			tableDatas.push(item);
		});
		isloading.value = false;
	});
};

const handleReset: Function = (row: TableData) => {
	ManagerApi.getInst().resetUserPwd(row.uid).then((res) => {
		if (!res) {
			return;
		}
		if (res.status.code == 200) {
			Util.getInst().toast("重置成功");
		} else {
			Util.getInst().toast(res.status.msg, "error");
		}
	})
}

let isGetDialogData: boolean = false;
const handleView: Function = (id: string) => {
	ManagerApi.getInst().getRoleInfo(id).then(res => {
		if (isGetDialogData || !res) {
			return;
		}
		isGetDialogData = true;
		if (res.status.code == 200) {
			dialogData.uid = res.data.uid;
			dialogData.displayName = res.data.displayName;
			dialogData.experience = res.data.experience;
			dialogData.status = res.data.status;
			dialogData.pid = res.data.pid;
			dialogData.gameLevel = res.data.gameLevel;
			dialogTableVisible.value = true
		} else {
			Util.getInst().toast(res.status.msg, "error");
		}
	}).finally(() => isGetDialogData = false);
	// dialogTableVisible.value = true
}
const handleClose: Function = () => {
	dialogTableVisible.value = false;
}

function countHeight() {
	const height: number = document.documentElement.clientHeight - 109;
	cardHeight.value = `${height}px`;
}

onMounted(() => {
	getTableData(1);
	//监听窗口变化
	window.addEventListener("resize", countHeight);
	countHeight()
});

onBeforeUnmount(() => {
	window.removeEventListener("resize", countHeight);
})
</script>

<style scoped>
.indexDown {
	z-index: 0;
}

.box {
	position: relative;
	top: 40px !important;
}
</style>
