<template>
	<div class="box" :style="{ height: cardHeight }">
		<el-card shadow="hover">
			<div v-if="createBtnShow.characters == '超级管理员'" class="text-size-[20px] mr-10" align="right">
				<el-button type="primary" @click="openUpdate">
					<el-icon class="mr-2">
						<Plus />
					</el-icon>
					新建
				</el-button>
			</div>
			<el-table :data="tableDatas" :v-loading="isloading" class="indexDown" row-key="id"
				:cell-style="{ 'text-align': 'center' }" :header-cell-style="{ 'text-align': 'center' }">
				<el-table-column prop="aid" label="管理id" show-overflow-tooltip></el-table-column>
				<el-table-column prop="name" label="用户名" show-overflow-tooltip> </el-table-column>
				<el-table-column prop="username" label="用户名" show-overflow-tooltip> </el-table-column>
				<el-table-column prop="characters" label="身份" show-overflow-tooltip></el-table-column>
				<el-table-column prop="status" label="状态" show-overflow-tooltip>
					<template #default="scope">
						<div v-if="createBtnShow.characters == '超级管理员'">
							<el-switch v-model="scope.row.status" class="ml-2"
								style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
								:loading="scope.row.isChangeStatus" @change="handleStatus(scope.row)" />
							{{ scope.row.status ? "激活" : "禁用" }}
						</div>
						<div v-else>
							<el-tag :type="scope.row.status ? 'success' : 'danger'">{{ scope.row.status ? "激活" : "禁用"
							}}</el-tag>
						</div>
					</template>
				</el-table-column>
				<el-table-column prop="tel" label="联系方式" show-overflow-tooltip></el-table-column>
				<el-table-column v-if="createBtnShow.characters == '超级管理员'" fixed="right" label="操作">
					<template #default="scope">
						<el-popconfirm @confirm="handleReset(scope.row)" title="密码将重置为123456，是否继续?">
							<template #reference>
								<el-button link type="primary" size="small">重置密码</el-button>
							</template>
						</el-popconfirm>
					</template>
				</el-table-column>
			</el-table>
			<el-pagination background class="mt-5 justify-center" layout="prev, pager, next" :total="pageNumber"
				@change="getTableData" v-model="currentPage" :page-size="pageSize" />
		</el-card>
	</div>


	<form-drawer ref="formDrawerRef" title="新建管理员" destroyOnClose @submit="handleCreate">
		<el-form ref="ruleFormRef" :rules="rules" :model="form" class="form" label-width="80px" size="small">
			<el-form-item prop="adminName" label="用户名">
				<el-input class="ipt" v-model="form.adminName" placeholder="输入用户名" maxlength="30">
				</el-input>
			</el-form-item>
		</el-form>
		<el-descriptions column="1" border>
			<el-descriptions-item label="初始密码" label-align="center">
				<el-text>123456</el-text>
			</el-descriptions-item>
			<el-descriptions-item label="身份" label-align="center">
				<el-text>管理员</el-text>
			</el-descriptions-item>
		</el-descriptions>
	</form-drawer>
</template>

<script setup lang="ts">
import ManagerApi from "@/api/ManagerApi";
import FormDrawer from "@/components/FormDrawer.vue";
import Util from "@/composables/Util";
import store from "@/store";
import { FormInstance, FormRules } from "element-plus";
import { ref, reactive, onMounted, Ref, onBeforeUnmount } from 'vue';

interface TableData {
	aid: number,
	name: string,
	username: string,
	characters: string,
	status: boolean,
	tel: string,
	isChangeStatus: boolean
}
interface TableInfo {
	aid: number,
	name: string,
	username: string,
	characters: string,
	active: string,
	tel: string
}
interface AdminStatus {
	id: number,
	status: String
}
interface RuleForm {
	adminName: string;
}

const rules = reactive<FormRules<RuleForm>>({
	adminName: [
		{
			required: true,
			message: "用户名不能为空",
			trigger: "blur",
		},
		{
			min: 5,
			max: 20,
			message: "用户名长度在5-20个字符",
			trigger: "blur",
		},
	]
})

const tableDatas: Array<TableData> = reactive([]);
const currentPage: Ref<number> = ref(1);

const isloading: Ref<boolean> = ref(false);
const createBtnShow = reactive(store.state);
const pageNumber: Ref<number> = ref(0);
const cardHeight: Ref<string> = ref('');
const pageSize: Ref<number> = ref(10);

const handleStatus = (row: TableData) => {
	if (row.isChangeStatus) return;
	row.isChangeStatus = true;
	if (row.characters == "超级管理员") {
		row.status = !row.status;
		Util.getInst().toast("无法禁用超级管理员", "error");
		row.isChangeStatus = false
		return;
	}
	const adminStutas: AdminStatus = { id: row.aid, status: row.status ? "激活" : "禁用" };
	ManagerApi.getInst()
		.setAdminStatus(adminStutas)
		.then(res => {
			console.log(res);
			if (res.status.code == 200) {
				Util.getInst().toast("修改成功");
			} else {
				row.status = !row.status;
				Util.getInst().toast(res.status.msg, "error");
			}
		})
		.catch(res => {
			row.status = !row.status;
			Util.getInst().toast("修改失败");
		})
		.finally(() => row.isChangeStatus = false);
}

// 刷新表格数据
const getTableData = (newPage: number) => {
	isloading.value = true;
	if (newPage)
		currentPage.value = newPage;
	ManagerApi.getInst().getAdminInfoList(currentPage.value, pageSize.value).then(res => {
		pageNumber.value = res.data.total;
		tableDatas.slice(0, tableDatas.length);
		tableDatas.length = 0;
		res.data.list.forEach((data: TableInfo) => {
			const item: TableData = {
				aid: data.aid,
				name: data.name,
				username: data.username,
				characters: data.characters,
				status: data.active == '激活',
				tel: data.tel,
				isChangeStatus: false
			}
			tableDatas.push(item);
		});
		isloading.value = false;
	});
};
const formDrawerRef = ref(null);
const ruleFormRef = ref<FormInstance>();
const form = reactive<RuleForm>({
	adminName: ""
});
const openUpdate: Function = () => {
	const open: Function = formDrawerRef.value!["open"];
	open();
};

const handleReset: Function = (row: TableData) => {
	if (row.characters == "超级管理员") {
		Util.getInst().toast("无法重置超级管理员密码", "error");
		return;
	}
	ManagerApi.getInst().resetAdminPwd(row.aid).then((res) => {
		if (res.status.code == 200) {
			Util.getInst().toast("重置成功");
		} else {
			Util.getInst().toast(res.status.msg, "error");
		}
	})
}

const handleCreate = async () => {
	await ruleFormRef.value?.validate(async (valid, fields) => {
		if (!valid) {
			return false;
		}
		const showLoading: Function = formDrawerRef.value!["showLoading"];
		showLoading();
		ManagerApi
			.getInst()
			.createAdmin(form)
			.then((res) => {
				if (!res) return;
				if (res.status.code == 200) {
					Util.getInst().toast("创建管理员成功");
					location.reload();
				} else {
					Util.getInst().toast('error', res.status.msg);
				}
			})
			.finally(() => {
				const hideLoading: Function = formDrawerRef.value!["hideLoading"];
				hideLoading();
			});
	});
};

function countHeight() {
	const height: number = document.documentElement.clientHeight - 109;
	cardHeight.value = `${height}px`;
}

onMounted(() => {
	getTableData(0);
	//监听窗口变化
	window.addEventListener("resize", countHeight);
	countHeight()
});

onBeforeUnmount(() => {
	window.removeEventListener("resize", countHeight);
})
</script>

<style scoped>
.indexDown {
	z-index: 0;
}

.box {
	position: relative;
	top: 40px !important;
}
</style>
